(
    name: "Tokyo Night",
    foreground: "#A9B1D6",
    cursor: "#A9B1D6",
    bright_foreground: "#C4CFF4",
    dim_foreground: "#646A83",
    normal: (
        black: "#1D202F",
        red: "#F93356",
        green: "#8FD78A",
        yellow: "#E9BD64",
        blue: "#5C9FF4",
        magenta: "#B974DC",
        cyan: "#59C2C7",
        white: "#A9B1D6",
    ),
    bright: (
        black: "#646A83",
        red: "#F47687",
        green: "#A3D7A3",
        yellow: "#ECD3A0",
        blue: "#91C0F4",
        magenta: "#CEB1EC",
        cyan: "#7AD1D9",
        white: "#C4CFF4",
    ),
    dim: (
        black: "#1D202F",
        red: "#F93356",
        green: "#8FD78A",
        yellow: "#E9BD64",
        blue: "#5C9FF4",
        magenta: "#B974DC",
        cyan: "#59C2C7",
        white: "#A9B1D6",
    ),
)
